*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Norse;
  src: url(Norse-Bold.otf);
}

.container {
  display: flex;
}

.first {
  width: 35vw;
  height: 100vh;
  background-image: url(halie-west-smallest-unsplash.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.odin {
  background-color: rgba(0,0,0,0.4);
  height: 100px;
  width: 100%;
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin img {
  height: 80%;
  width: 15%;
}

.font {
  font-family: Norse;
  font-size: 60px;
}

.credit a {
  color: white;
}

.credit {
  margin-bottom: 10px;
}

.second {
  border: 1px solid black; /* for debugging */
  width: 65vw;
  height: 100vh;
  background-color: #F8FBF8;
  display: flex;
  flex-direction: column;
}

.jar {
  flex: 1;
  border: 1px solid black; /* for debugging */
}

form {
  height: 200px;
}