*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.first {
  width: 30vw;
  height: 100vh;
  background-image: url(halie-west-smallest-unsplash.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black; /*For Debugging*/
}

.odin {
  background-color: rgba(0,0,0,0.4);
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.odin img {
  height: 100%;
  width: 100px;
}

.credit a {
  color: white;
}

.credit {
  margin-bottom: 10px;
}